
*.out
*.exe
!premake5.exe
*.idea/
bin/*
!bin/.gitkeep
_build_/*
!_build_/.gitkeep
cmake-build-debug/
CMakeFiles/
CMakeLists.txt
CMakeCache.txt
*.cmake
*.make
vgcore.*
perf.*
Makefile
lib/*

**.vcxproj
**.vcxproj.user


*.slo
*.lo
*.o

*.gch
*.pch

*.so
*.dll


/.vs
**.filters
**.user
*.sln
/external/assimp/assimp.vcxproj

*.log